:root {
  --clr-blue: hsl(223, 87%, 63%);
  --clr-pale-blue: hsl(223, 100%, 88%);
  --clr-light-red: hsl(354, 100%, 66%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(0, 0%, 59%);
  --clr-very-dark-blue: hsl(209, 33%, 12%);

  --ff-default: "Libre Franklin", sans-serif;

  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  background-color: var(--clr-white);
  font-family: var(--ff-default);
  font-size: 0.875rem;
  font-weight: var(--fw-300);
}

/* Text styles */

.headline {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: var(--fw-700);
  margin-bottom: 0.75rem;
  color: var(--clr-very-dark-blue);
}

.title-light {
  font-weight: var(--fw-300);
  color: var(--clr-gray);
}

.subtitle {
  font-weight: var(--fw-300);
  color: var(--clr-very-dark-blue);
}

.btn-text {
  font-weight: var(--fw-600);
  color: var(--clr-white);
}

.copyright {
  color: var(--clr-gray);
}

input::placeholder {
  color: var(--clr-pale-blue);
}

/* General styles */

.container {
  max-width: 23.4375rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6.25rem 0 3.125rem;
}

.header-logo {
  width: 4.125rem;
}

.form-container {
  margin: 2.75rem auto 5.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.375rem;
  position: relative;
}

.form-container * {
  border-radius: 2rem;
}

input {
  padding: 0.5rem 2.25rem;
  border: 0.0625rem solid var(--clr-pale-blue);
  flex: 1;
  outline: none;
}

.btn {
  padding: 0.625rem 0;
  margin-top: 0.375rem;
  background-color: var(--clr-blue);
  border: none;
  box-shadow: var(--clr-blue) 0rem 0.125rem 0.5rem 0rem;
  cursor: pointer;
}

.footer {
  padding: 8rem 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2.375rem;
}

.links {
  list-style: none;
  display: flex;
  align-items: center;
  column-gap: 2.75rem;
}

.links i {
  color: var(--clr-blue);
  font-size: 1.125rem;
}

.invalid {
  border: 0.0625rem solid var(--clr-light-red);
}

.invalid-text {
  font-size: 0.75rem;
  font-style: italic;
  text-align: center;
  color: var(--clr-light-red);
}

@media (min-width: 64rem) {
  body {
    font-size: 1rem;
  }

  /* Text styles */

  .title {
    font-size: 2.75rem;
    font-weight: var(--fw-700);
    margin-bottom: 0.75rem;
    color: var(--clr-very-dark-blue);
  }

  .subtitle {
    font-size: 1.25rem;
  }

  /* General styles */

  .container {
    max-width: 48rem;
    padding: 0 4rem;
  }

  .header-logo {
    width: 5.375rem;
  }

  .form-container {
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
  }

  input {
    flex: 1;
    padding: 0.75rem 2.25rem;
  }

  .btn {
    padding: 0 3.5rem;
    margin-top: 0;
  }

  .invalid-text {
    font-size: 0.875rem;
    font-style: italic;
    text-align: left;
    color: var(--clr-light-red);
    position: absolute;
    left: 1.5625rem;
    bottom: -1.5625rem;
  }
}
