:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-dark-gray: hsl(0, 0%, 55%);
    --clr-very-dark-gray: hsl(0, 0%, 41%);

    --ff-primary: "Alata", sans-serif;
    --ff-secundary: "Josefin Sans", sans-serif;

    --fw-300: 300;
    --fw-400: 400;
}

body {
    background-color: var(--clr-white);
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    font-size: 1rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 1.875rem;
    max-width: 477px;
    margin: 0 auto;
}

.bg-hero {
    min-height: 828px;
    background-image: url(../images/mobile/image-hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    padding: 3.25rem 0;
}

.header.active {
    background-color: var(--clr-black);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .hamburger {
    background-color: transparent;
    border: none;
}

.nav-mobile {
    background-color: var(--clr-black);
    display: none;
    padding-top: 84px;
    padding-left: 38px;
    position: fixed;
    top: 136px;
    left: 0;
    width: 100%;
    height: calc(100vh - 136px);
}

.nav-mobile ul {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
}

.nav-mobile a {
    color: var(--clr-white);
    font-family: var(--ff-secundary);
    font-weight: var(--fw-300);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.nav-mobile.active {
    display: block;
}

.headline {
    font-family: var(--ff-secundary);
    font-weight: var(--fw-300);
    text-transform: uppercase;
    line-height: 1.0;
}

.hero {
     padding: 156px 0;
}

.headline-container {
    border: 2px solid var(--clr-white);
    padding: 32px 34px 22px;
}

.hero .headline {
    font-size: 3.0625rem;
    color: var(--clr-white);
}

.about {
    padding: 7.625rem 0;
}

.about-content {
    margin-top: 3.875rem;
    padding: 0 2.25rem;
    text-align: center;
}

.about .headline {
    font-size: 2.5rem;
    color: var(--clr-black);
}

.about-content p {
    margin-top: 40px;
    font-size: 19px;
    color: var(--clr-dark-gray);
}
