:root {
    --green: hsl(75, 94%, 57%);
    --white: hsl(0, 0%, 100%);
    --grey: hsl(0, 0%, 20%);
    --dark-grey: hsl(0, 0%, 12%);
    --off-black: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--off-black);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter", sans-serif;
}

main {
    background: var(--dark-grey);
    min-width: 307px;
    padding: 32px;
    border-radius: 10px;
}

.header,
.links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    row-gap: 22px;
    margin-bottom: 22px;
}

.header img {
    display: block;
    max-width: 29%;
    border-radius: 50%;
}

.header-info {
    text-align: center;
}

.name {
    font-size: 20px;
    margin-bottom: 7px;
}

.location {
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    color: var(--green);
}

.about {
    font-size: 12px;
}

.name,
.about {
    color: var(--white);
}

.links-list {
    list-style: none;
    row-gap: 14px;
}

.links-list li {
    min-width: 100%;
}

.links-list li a {
    background: var(--grey);
    padding: 11px 0;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-size: 11.9px;
    font-weight: 700;
    color: var(--white);
}