:root {
    --clr-dark-violet: hsl(256, 26%, 20%);
    --clr-grayish-blue: hsl(216, 30%, 68%);

    --clr-very-dark-violet: hsl(270, 9%, 17%);
    --clr-dark-grayish-violet: hsl(273, 4%, 51%);
    --clr-very-light-gray: hsl(0, 0%, 98%);

    --ff-body: "Karla", sans-serif;
    --ff-headings: "DM Serif Display", serif;

    --fw-400: 400;
    --fw-700: 700;
}

body {
    background-color: var(--clr-very-light-gray);
    font-family: var(--ff-body);
    font-size: 1rem;
    font-weight: var(--fw-400);
}

/* Helper class */

.flex {
    display: flex;
    align-items: center;
}

.header {
    background-color: var(--clr-very-light-gray);
}

.header .container {
    height: 5rem;
    padding: 1.5rem;
    position: relative;

    justify-content: space-between;
}

.nav-list {
    list-style: none;
}

.nav-btn {
    background-color: transparent;
    border: 2px solid;
    cursor: pointer;
    font-weight: var(--fw-700);
    text-transform: uppercase;
}

.nav-link {
    font-weight: var(--fw-700);
    text-transform: uppercase;
    text-decoration: none;
}

.nav-mobile-btn {
    border: none;
    cursor: pointer;
}

.nav-mobile-icon {
    pointer-events: none;
}

.nav-mobile {
    background-image: url(../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--clr-very-dark-violet);
    display: none;
    min-width: 100%;
    padding: 3rem 1.5rem 0;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    transition: 0.5s ease-in;
    height: calc(100vh - 5rem);
}

.nav-mobile .nav-list {
    margin-bottom: 32px;

    flex-direction: column;
    row-gap: 2.5rem;
}

.nav-mobile .nav-link {
    color: var(--clr-very-light-gray);
    font-size: 1.25rem;
}

.nav-mobile .nav-btn {
    border-color: var(--clr-very-light-gray);
    min-width: 100%;
    padding: 0.875rem 0;
    color: var(--clr-very-light-gray);
    font-size: 1.25rem;
}

.open {
    display: block;
}

.nav-desktop {
    display: none;
}

.headline {
    font-family: var(--ff-headings);
    font-weight: var(--fw-400);
    text-align: center;
}

.hero {
    background-color: var(--clr-dark-violet);
}

.hero .container {
    flex-direction: column-reverse;
}

.hero-content {
    background-image: url(../images/bg-pattern-intro-left-mobile.svg);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 5.875rem 1.5rem;
    text-align: center;
    color: var(--clr-very-light-gray);
    position: relative;
}

.hero .headline {
    font-size: 2.75rem;
    line-height: 1.0;
}

.hero .desc {
    margin: 1.25rem 0 1.75rem;
}

.hero button {
    background-color: transparent;
    border: 2px solid var(--clr-very-light-gray);
    padding: 0.375rem 1.75rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--clr-very-light-gray);
}

.image-mobile-right {
    position: absolute;
    bottom: -38%;
    right: 0;
}

.image-desktop-right,
.image-desktop-left {
    display: none;
}

.services .container {
    padding: 8.75rem 1.5rem;
}

.services .headline {
    color: var(--clr-very-dark-violet);
    font-size: 3rem;
}

.services .container::before {
    content: '';
    background-color: var(--clr-dark-grayish-violet);
    display: block;
    width: 152px;
    height: 1px;
    margin: 0 auto 2.25rem;
}

.services .card-container {
    padding: 5.25rem 0;
    flex-direction: column;
    row-gap: 3.5rem;
}

.services .card {
    text-align: center;
}

.services .card-icon {
    margin: 0 auto 1.5rem;
}

.services .card .headline {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.cta {
    margin-bottom: 8.75rem;
}

.cta .container {
    background-image: url(../images/bg-pattern-how-we-work-mobile.svg);
    background-repeat: no-repeat;
    background-position: top right;
    background-color: var(--clr-dark-violet);
    padding: 4.5rem 2.75rem;
}

.cta-content {
    flex-direction: column;
    row-gap: 2.75rem;
}

.cta .headline {
    color: var(--clr-very-light-gray);
    font-size: 2.75rem;
    line-height: 1.0;
}

.cta-btn {
    background-color: transparent;
    border: 2px solid var(--clr-very-light-gray);
    padding: 0.875rem 1.375rem;
    line-height: 1.0;
    color: var(--clr-very-light-gray);
    text-transform: uppercase;
    font-weight: var(--fw-700);
    cursor: pointer;
}

.footer {
    background-image: url(../images/bg-pattern-footer-mobile.svg);
    background-repeat: no-repeat;
}

.footer .container {
    padding: 5.5rem 1.5rem;
}

.footer .header {
    background-color: transparent;
    border-bottom: 1px solid var(--clr-dark-grayish-violet);
    padding-bottom: 2.5rem;
    flex-direction: column;
    row-gap: 2rem;
}

.footer .social-links {
    gap: 1rem;
}

.footer-nav {
    padding-top: 2.75rem;
    text-align: center;

    flex-direction: column;
    row-gap: 2.875rem;
}

.footer-nav .list-headline {
    text-transform: uppercase;
    color: var(--clr-dark-grayish-violet);
    margin-bottom: 2.625rem;
}

.footer-nav .nav-list {
    flex-direction: column;
    row-gap: 1.375rem;
}

.footer-nav .nav-link {
    color: var(--clr-very-dark-violet);
}



@media (min-width: 768px) {

    .container {
        max-width: 1160px;
        margin: 0 auto;
        padding: 0 1.5rem;
    }

    .header {
        position: relative;
        z-index: 1;
    }

    .header .container {
        padding: 1.25rem 1.5rem;
    }

    .nav-mobile-btn {
        display: none;
    }

    .nav-desktop {
        display: flex;
        column-gap: 2rem;
    }

    .nav-desktop .nav-list {
        column-gap: 1.625rem;
    }

    .nav-desktop .nav-link{
        color: var(--clr-dark-grayish-violet);
    }

    .nav-desktop .nav-btn {
        padding: 0.375rem 1.625rem;
        border-color: var(--clr-very-dark-violet);
    }

    .hero {
        position: relative;
    }

    .hero .container {
        flex-direction: row;
        position: relative;
        padding: 6.75rem 0 8rem;
    }

    .hero .container picture {
        position: absolute;
        top: 6.75rem;
        right: 1.5rem;
    }

    .hero-content {
        background-image: none;
        max-width: 50%;
        margin-left: 0;
        padding: 0 1.5rem 0;
    }

    .hero-content::before {
        content: '';
        background-color: var(--clr-very-light-gray);
        display: block;
        width: 9.5rem;
        height: 0.0625rem;
        margin-bottom: 4rem;
    }

    .hero-content,
    .hero-content .headline {
        text-align: left;
    }

    .hero-content .headline {
        font-size: 4.38rem;
    }

    .hero .desc {
        margin: 1.25rem 0 2rem;
    }

    .image-mobile-right {
        display: none;
    }

    .image-desktop-right,
    .image-desktop-left {
        display: block;
    }

    .image-desktop-left {
        position: absolute;
        bottom: -50%;
        left: 0;
    }

    .image-desktop-right {
        position: absolute;
        top: -13%;
        right: 0;
    }

    .services .container {
        padding: 17rem 1.5rem 4.375rem;
    }

    .services .container::before {
        margin: 0 0 2.25rem;
    }

    .services .headline {
        font-size: 4.375rem;
        text-align: left;
    }

    .services .card-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .services .card {
        max-width: 21.75rem;
        flex: 1;
    }

    .services .card,
    .services .card .headline {
        text-align: left;
    }

    .services .card-icon {
        margin: 0 0 1.5rem;
    }

    .cta {
        margin-bottom: 9.25rem;
    }

    .cta .container {
        background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
        padding: 4.875rem 5rem 4.75rem;
    }

    .cta-content {
        flex-direction: row;
        justify-content: space-between;
    }

    .cta .headline {
        font-size: 3rem;
        text-align: left;
        max-width: 43%;
    }

    .footer {
        background-image: url(../images/bg-pattern-footer-desktop.svg);
    }

    .footer .container {
        padding: 4.25rem 1.5rem;
    }

    .footer .header {
        padding-bottom: 2.25rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-nav {
        text-align: left;
    }

    .footer-nav.flex {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-nav .nav-list.flex {
        align-items: flex-start;
    }
}
