:root {
  --clr-desaturated-red: hsl(0, 36%, 70%);
  --clr-soft-red: hsl(0, 93%, 68%);
  --clr-dark-grayish-red: hsl(0, 6%, 24%);

  --gradient-linear-01: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
  --gradient-linear-02: linear-gradient(
    135deg,
    hsl(0, 80%, 86%),
    hsl(0, 74%, 74%)
  );

  --ff-default: "Josefin Sans", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-600: 600;
}

body {
  background-image: var(--gradient-linear-01);
  font-family: var(--ff-default);
  font-size: 0.875rem;
  font-weight: var(--fw-400);
  color: var(--clr-dark-grayish-red);
}

/* Text styles */

.title {
  text-transform: uppercase;
  font-size: 2.75rem;
  font-weight: var(--fw-600);
  letter-spacing: 0.625rem;
  line-height: 1;
  margin-bottom: 1rem;
}

.title-light {
  font-weight: var(--fw-300);
  color: var(--clr-desaturated-red);
}

.about {
  color: var(--clr-desaturated-red);
  margin-bottom: 1.5rem;
}

/* General styles */

.wrapper {
  max-width: 23.4375rem;
  margin: 0 auto;
}

.header {
  padding: 2rem;
}

.logo {
  max-width: 8rem;
}

.content {
  padding: 4rem 2rem;
  text-align: center;
}

form {
  position: relative;
}

.email {
  border: 0.0625rem solid var(--clr-desaturated-red);
  color: var(--clr-dark-grayish-red);
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  min-width: 100%;
  outline: none;
  position: relative;
}

.email::placeholder {
  color: var(--clr-desaturated-red);
}

.btn {
  display: block;
  background-image: var(--gradient-linear-02);
  padding: 0.75rem 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: none;
  border-radius: 2rem;
  box-shadow: rgba(249, 98, 98, 0.536) 0 0.5rem 1.5rem;
  cursor: pointer;
}

.invalid {
  border: 1px solid var(--clr-soft-red);
  background: url(../images/icon-error.svg) no-repeat right;
  background-size: 1.5rem;
  background-position: 75%;
}

.invalid-text {
  font-size: 0.75rem;
  font-style: italic;
  position: absolute;
  left: 1.5625rem;
  bottom: -1.5625rem;
  color: var(--clr-soft-red);
}

@media (min-width: 80rem) {
  body {
    font-size: 1.25rem;
    overflow: hidden;
  }

  /* Text styles */

  .title {
    text-transform: uppercase;
    font-size: 4.875rem;
    font-weight: var(--fw-600);
    letter-spacing: 1.25rem;
    line-height: 1;
    margin-bottom: 1rem;
  }

  .title-light {
    font-weight: var(--fw-300);
    color: var(--clr-desaturated-red);
  }

  .about {
    color: var(--clr-desaturated-red);
    margin-bottom: 1.5rem;
  }

  /* General styles */

  .wrapper {
    max-width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 39%;
    grid-template-rows: 15% 1fr;
  }

  .logo {
    max-width: 9.875rem;
  }

  .header {
    margin-left: 5.625rem;
  }

  .hero {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .content {
    margin-left: 5.625rem;
    text-align: left;
    max-width: 37.5rem;
  }

  .email {
    padding-right: 7.125rem;
  }

  .btn {
    padding: 0.8125rem 2.75rem;
  }

  .invalid-text {
    font-size: 0.875rem;
  }
}
