:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-pink: hsl(275, 100%, 97%);
  --clr-grayish-purple: hsl(292, 16%, 49%);
  --clr-dark-purple: hsl(292, 42%, 14%);

  --ff-default: "Work Sans", sans-serif;

  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  font-family: var(--ff-default);
  font-size: 14px;
  font-weight: var(--fw-400);
  color: var(--clr-grayish-purple);
}

/* Text styles */

.title {
  font-size: 2rem;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  color: var(--clr-dark-purple);
}

.title-icon {
  max-width: 30px;
}

.accordion-text {
  color: var(--clr-dark-purple);
  font-size: 16px;
  font-weight: var(--fw-600);
  text-align: left;
}

/* General styles */

.wrapper {
  min-height: 100vh;
  background-image: url(../images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-color: var(--clr-light-pink);
}

.container {
  min-height: 100vh;
  padding: 0 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--clr-white);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.accordion {
  background-color: transparent;
  border-top: 1px solid var(--clr-light-pink);
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
  min-width: 100%;
  padding: 1rem 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.accordion:hover {
  color: var(--clr-grayish-purple);
}

.accordion:first-of-type {
  border: none;
}

.accordion:last-of-type {
  padding-bottom: 0;
}

.accordion::after {
  content: url(../images/icon-plus.svg);
  padding-top: 0.2rem;
}

.active::after {
  content: url(../images/icon-minus.svg);
}

.panel {
  display: none;
  padding-bottom: 1rem;
  overflow: hidden;
}

.panel:last-of-type {
  padding: 1rem 0 0;
}

@media (min-width: 376px) {
  .wrapper {
    background-image: url(../images/background-pattern-desktop.svg);
  }
}

@media (min-width: 650px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 3rem;
    column-gap: 1.5rem;
    line-height: 1;
    margin-bottom: 0.5rem;
  }

  .content {
    width: 600px;
    padding: 2rem;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    background-size: contain;
  }
}
